<div class="randomquote"><div class="curly start-curly">&ldquo;</div><div class="quote-text">
{{ randomquote.text }}
</div><div class="curly end-curly">&rdquo;</div><div class="quote-name">
&ndash; {{ randomquote.name }}
</div></div>